*~
*.py[co]
.DS_Store
__pycache__
logs

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
private_files
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage

# IDE meta files
.vscode
.idea

# project specific
data/
private/
output/